header {
  height: 5.938rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #e8e8e8;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  color: inherit;
}

.logo-text {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  line-break: strict;
}

.nav-element {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.user-icon-container {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  text-align: center;
}

.user-icon {
  color: #0290ff;
  font-size: 36px;
}
